* {
    box-sizing: border-box;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
    --clr-medium-blue: hsl(228, 45%, 44%); 

    --font: "Outfit", "sans-serif";
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-light-gray);
    font-family: var(--font);
}

.qr-code-container {
    width: 300px;
    height: 500px;
    background-color: var(--clr-white);
    text-align: center;
    align-items: center;
    border-radius: 16px;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    border-radius: 20px;
    padding: 12px;
}

.text-container {
    margin-top: 20px;
    text-align: center;
}

.text-container h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 0 2rem;
}

.text-container p {
    color: var(--clr-grayish-blue);
    font-size: 15px;
    font-weight: 400;
    padding: 0 2rem;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    bottom: auto;
}

.attribution a {
    color: var(--clr-medium-blue);
}
